.calculator-field {
    width: 400x;
    /* ширина: значение */
    min-height: 400px;
    /* минимальная высота */
    background-color: rgba(0, 0, 255, 0.174);
    /* фон */
    border: 3px solid black;
    /* рамка 3px ширина сплошная черного цвет */
    margin-top: 50px;
    /* внешний отступ сверху */
}
.calculator-btns {
    display:flex;
    /* все блоки склеиваются как в таблице */
    flex-direction: column;
    /* расправляет в колонку */
    width: 100%;
    /* ширина  */
    align-items: center;
    /* отцентровали всех детей по середине */
}
button {
    margin-bottom: 10px;
    /* здесь внешний отступ (нижний) 10пх */
    margin-top: 30px;
    width: 100%;
    width: 400px;
    height: 60px;
    /* высота */
    font-size: 3em;
    /* цифры внутри кнопок (измениние шрифта) */
}
.ultra {
    /* соответсвенно все блоки под названием ультра сделали по ширине и склеили */
    display:flex;
    width: 400px;
}
.block1 {
    margin-top: 47px;
    /* отступили что б было место для вывода при вычислениях */
}
.output {
    /* где итог(вывод) затемнили цветом, чтоб отличалось а так же расширили сам
    блок где вводятся числа */
    background-color:rgba(1, 1, 3, 0.192);
    width: 100%;
    height: 200px;
}